version: "3"
services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
  backend:
    build: ./backend
    ports:
      - "5000:5000"
  ai-engine:
    build: ./ai
    ports:
      - "6000:6000"
